@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.middletext {
    color: white;
    margin-top: 15%;
}

.text {
    color: white;
    font-family: 'Barlow', sans-serif;
    
}

.a-title {
    font-size: 50px;
    margin: 0px;
}

.b-title {
    font-size: 60px;
    margin: 0px;
}