.pronouns {
    color: transparent;
    transition: all .2s;
}

.hello:hover~.pronouns {
    color: var(--ctp-mocha-lavender);
    transition: all .2s;
}

.pic {
    width: 120px;
    background-color: var(--ctp-mocha-surface0);
    border-radius: 60px;
    transition: all .2s;
    cursor: pointer;
}

.pic:hover {
    border-radius: 30px;
    transition: all .2s;
}


@media (prefers-color-scheme: light) {
    .pic {
        background-color: var(--ctp-latte-surface0);
    }

    .hello:hover~.pronouns {
        color: var(--ctp-latte-lavender);
    }
}

@media only screen and (max-width: 890px) {
    .pronouns {
        color: var(--ctp-mocha-lavender);
    }
}

@media only screen and (max-width: 890px) and (prefers-color-scheme: light) {
    .pronouns {
        color: var(--ctp-latte-lavender);
    }
}

.gamerun > .gamecontainer {
    display: block;
	position: fixed;
	width: fit-content;
	height: fit-content;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	border: 16px solid var(--ctp-mocha-mantle);
	border-radius: 16px;
	background-color: var(--ctp-mocha-mantle);
}

.gamerun {
    overflow: hidden;
}

.game {
    width: 1280px;
    height: 720px;
    background-color: var(--ctp-mocha-crust);
}