.pronouns {
    color: transparent;
    transition: all .2s;
}

.hello:hover~.pronouns {
    color: var(--ctp-mocha-lavender);
    transition: all .2s;
}

p#whoami_pride > span#rainbow {
    display: none;
}

p#whoami_pride:hover > span#rainbow {
    display: unset;
}

.pic {
    width: 120px;
    background-color: var(--ctp-mocha-surface0);
    border-radius: 60px;
    transition: all .2s;
    cursor: pointer;
}

.pic:hover {
    border-radius: 30px;
    transition: all .2s;
}


@media (prefers-color-scheme: light) {
    .pic {
        background-color: var(--ctp-latte-surface0);
    }

    .hello:hover~.pronouns {
        color: var(--ctp-latte-lavender);
    }
}

@media only screen and (max-width: 890px) {
    .pronouns {
        color: var(--ctp-mocha-lavender);
    }
}

@media only screen and (max-width: 890px) and (prefers-color-scheme: light) {
    .pronouns {
        color: var(--ctp-latte-lavender);
    }
}

.gamerun > .gamecontainer {
    display: block;
	position: fixed;
	width: fit-content;
	height: fit-content;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	border: 16px solid var(--ctp-mocha-mantle);
	border-radius: 16px;
	background-color: var(--ctp-mocha-mantle);
}

.gamerun {
    overflow: hidden;
}

.game {
    width: 1280px;
    height: 720px;
    background-color: var(--ctp-mocha-crust);
}

#contact a.link {
    margin-right: 32px;
    border-bottom: none !important;
}

#contact a.link:hover {
    color: var(--ctp-mocha-lavender);
}

#contact a.link:hover ~ p#tooltip:after {
    color: var(--ctp-mocha-text);
}

#contact a.link#mail:hover ~ p#tooltip:after {
    content: 'Write me an E-Mail. (No job offers!)';
}

#contact a.link#mastodon:hover ~ p#tooltip:after {
    content: 'Discussions about transit & other stuff.';
}

#contact a.link#instagram:hover ~ p#tooltip:after {
    content: 'Pictures of Trains & Trams.';
}

#contact a.link#github:hover ~ p#tooltip:after {
    content: 'Back from when I actually programmed.';
}

#contact a.link#twt:hover ~ p#tooltip:after {
    content: 'Mastodon but worse.';
}