@import url('/res/catppuccin.css');

@font-face {
    font-family: FuraCodeRegularMono;
    src: url("/res/fonts/Fura Code Regular Nerd Font Complete Mono Windows Compatible.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--ctp-mocha-crust);
    color: var(--ctp-mocha-text);
    font-family: 'FiraCode Nerd Font Mono', FuraCodeRegularMono, monospace;
    overflow-x: hidden;
    margin: 0 0;
    
    background-image: url("/res/img/wallpapers/export0.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0px;
    transition: background-position-y .01s;
    transition: background-image .01s;
}

@media (max-aspect-ratio: 1050/1000) {
    body {
        background-image: url("/res/img/wallpapers/export0.jpg") !important;
    }
}

body.noscroll {
    background-size: cover;
}

.window {
    max-width: 1000px;
    width: calc(100vw - 4em);
    /* 2em for margin & 2em for padding */

    font-size: 32px;
    margin: 1em auto;
    padding: 1em 1em;

    border-radius: .5em;
}

.window {
    backdrop-filter: blur(2px);
    transition: backdrop-filter .1s;
}

.window:hover {
    backdrop-filter: blur(8px);
    transition: backdrop-filter .1s;
}

.window:last-of-type {
    box-shadow: none;
}

a {
    color: var(--ctp-mocha-text);
    text-decoration: none;
    border-bottom: 1px dashed var(--ctp-mocha-text);
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--ctp-mocha-text);
}

#header a:hover:before {
    content: '$ ';
    color: var(--ctp-mocha-green);
    transition-delay: 0.2s;
}

a:active {
    text-decoration: none;
    border-bottom: 1px solid var(--ctp-mocha-text);
}

.disabled {
    pointer-events: none;
    border-color: var(--ctp-mocha-overlay0);
}

.disabled:hover {
    pointer-events: none;
    border-color: var(--ctp-mocha-overlay0);
}

.disabled:active {
    pointer-events: none;
    border-color: var(--ctp-mocha-overlay0);
}

.comment {
    color: var(--ctp-mocha-surface2);
}

.inline-block {
    display: inline-block;
}

.mobile {
    display: none;
    visibility: hidden;
}

.right {
    text-align: right;
}

.hide {
    display: none;
}

.bg {
    z-index: -1;
    left: 0;
    position: absolute;
    background-size: contain;
    width: 100vw;
    height: 100vw;
}

.emoji {
    width: 1em;
    vertical-align: sub;
}

blockquote {
    color: var(--ctp-mocha-overlay3);
    border-left: 3px solid var(--ctp-mocha-surface0);
    background-color: var(--ctp-mocha-base);  /* Mocha base */
    padding: .25em .25em .25em .5em ;
    margin: .5em 0;

    p {
        margin: 0px;
    }
}

#navbar button {
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
    background-color: transparent;
    color: var(--ctp-mocha-text);

    border-style: none;
    border-bottom: 1px solid transparent;

    padding: 0.1em 0.8em;
    margin-right: 8px;

    font-size: 28px;
}

#navbar button:hover {
    border-bottom-color: var(--ctp-mocha-text);
}

#navbar button:active {
    color: var(--ctp-mocha-lavender);
    border-bottom-color: var(--ctp-mocha-lavender);
}

#go-up {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 4em;
    height: 4em;

    border-style: none;
    border-radius: 2em;

    backdrop-filter: blur(3px);
    background-color: rgba(30, 30, 46, .3); /* Mocha base */
    color: var(--ctp-mocha-overlay0);
    transition: background-color .2s, backdrop-filter .2s, color .2s;
}

#go-up:hover {
    backdrop-filter: blur(4px);
    background-color: rgba(30, 30, 46, .6); /* Mocha base */
    color: var(--ctp-mocha-text);

    transition: background-color .2s, backdrop-filter .2s, color .2s;
}

#go-up:active {
    backdrop-filter: blur(5px);
    background-color: rgba(30, 30, 46, .8); /* Mocha base */
    color: var(--ctp-mocha-lavender);
    transition: background-color .2s, backdrop-filter .2s, color .2s;
}

@media only screen and (max-width: 890px) {
    .mobile {
        display: unset;
        visibility: unset;
    }

    .desktop {
        display: none;
        visibility: hidden;
    }

    .bg {
        display: none;
    }
}

@media (prefers-reduced-motion) {
    .bg {
        display: none;
    }
}

a.title {
    font-weight: 600;
    color: var(--ctp-mocha-lavender);
}

code {
    background-color: var(--ctp-mocha-mantle);
    border: 1px solid var(--ctp-mocha-crust);
    border-radius: 6px;
    padding: .1em .4em;
}

pre {
    code {
        background-color: unset;
        border: unset;
        border-radius: unset;
        padding: unset;
    }

    background-color: var(--ctp-mocha-mantle);
    border: 1px solid var(--ctp-mocha-crust);
    border-radius: 6px;
    padding: .4em .4em;
    overflow-x: scroll;

    table {
        font-size: 16px;
        width: 100%;

        tr {
            td.line {
                text-align: right;
                border: none;
                padding-right: .4em;
                user-select: none;
                width: min-content;
            }
        }

        tr:hover {
            td.line {
                color: var(--ctp-mocha-lavender);
            }

            td.code {
                background-color: rgb(from var(--ctp-mocha-lavender) r g b / 5%);
            }
        }
    }
}

div#arwin {
    div#article {
        p, blockquote {
            font-size: 20pt;
        }
        
        h1 {
            font-size: 35.25pt;
        }
        
        h2 {
            font-size: 27.75pt;
        }
        
        h3 {
            font-size: 23.5pt;
        }

        h4 {
            font-size: 21.75pt;
        }

        h5 {
            font-size: 20pt;
        }

        h6 {
            font-size: 18pt;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: .75em 0em;
        }
    }
}