@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--ctp-mocha-crust);
    color: var(--ctp-mocha-text);
    font-family: 'FiraCode Nerd Font Mono', 'Roboto Mono', monospace;
    overflow-x: hidden;
    margin: 0 0;
    
    background-image: url("/res/img/wallpapers/export0.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0px;
    transition: background-position-y .01s;
    transition: background-image .01s;
}

@media (max-aspect-ratio: 1050/1000) {
    body {
        background-image: url("/res/img/wallpapers/export0.png") !important;
    }
}

body.noscroll {
    background-size: cover;
}

.window {
    max-width: 1000px;
    width: calc(100vw - 4em);
    /* 2em for margin & 2em for padding */

    font-size: 32px;
    margin: 1em auto;
    padding: 1em 1em;

    border-radius: .5em;
}

.window {
    backdrop-filter: blur(2px);
    transition: backdrop-filter .1s;
}

.window:hover {
    backdrop-filter: blur(8px);
    transition: backdrop-filter .1s;
}

.window:last-of-type {
    box-shadow: none;
}

a {
    color: var(--ctp-mocha-text);
    text-decoration: none;
    border-bottom: 1px dashed var(--ctp-mocha-text);
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--ctp-mocha-text);
}

a:active {
    text-decoration: none;
    border-bottom: 1px solid var(--ctp-mocha-text);
}

.disabled {
    pointer-events: none;
    border-color: var(--ctp-mocha-overlay0);
}

.disabled:hover {
    pointer-events: none;
    border-color: var(--ctp-mocha-overlay0);
}

.disabled:active {
    pointer-events: none;
    border-color: var(--ctp-mocha-overlay0);
}

.comment {
    color: var(--ctp-mocha-surface2);
}

.inline-block {
    display: inline-block;
}

.mobile {
    display: none;
    visibility: hidden;
}

.right {
    text-align: right;
}

.hide {
    display: none;
}

.bg {
    z-index: -1;
    left: 0;
    position: absolute;
    background-size: contain;
    width: 100vw;
    height: 100vw;
}

.emoji {
    width: 1em;
    vertical-align: sub;
}

blockquote {
    font-size: smaller;
    color: var(--ctp-mocha-overlay2);
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: rgb(53, 53, 83);
    background-color: rgba(30, 30, 46, .4);
}

@media only screen and (max-width: 890px) {
    .mobile {
        display: unset;
        visibility: unset;
    }

    .desktop {
        display: none;
        visibility: hidden;
    }

    .bg {
        display: none;
    }
}

@media (prefers-reduced-motion) {
    .bg {
        display: none;
    }
}

