@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background: var(--ctp-mocha-crust);
    color: var(--ctp-mocha-text);
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    margin: 0 0;
}

.container {
    width: 100vw;
    margin: auto;
}

.window {
    background: var(--ctp-mocha-base);
    max-width: 1000px;
    width: calc(100vw - 4em); /* 2em for margin & 2em for padding */

    font-size: 32px;
    margin: 1em auto;
    padding: 1em 1em;

    border-radius: .5em;
}

a {
    color: var(--ctp-mocha-text);
    text-decoration: none;
    border-bottom: 1px dashed var(--ctp-mocha-text);
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--ctp-mocha-text);
}

a:active {
    text-decoration: none;
    border-bottom: 1px solid var(--ctp-mocha-text);
}

.pronouns {
    color: transparent;
    transition: all .2s;
}

.hello:hover ~ .pronouns {
    color: var(--ctp-mocha-lavender);
    transition: all .2s;
}