@media (prefers-color-scheme: light) {
    .window {
        background-color: rgba(230, 233, 239, .9);
    }

    body {
        background: var(--ctp-latte-crust);
        color: var(--ctp-latte-text);
    }

    .comment {
        color: var(--ctp-latte-surface2);
    }

    a {
        color: var(--ctp-latte-text);
        border-bottom: 1px dashed var(--ctp-latte-text);
    }

    a:hover {
        border-bottom: 1px solid var(--ctp-latte-text);
    }

    a:active {
        border-bottom: 1px solid var(--ctp-latte-text);
    }

    .bg {
        display: none;
    }
}