@media (prefers-color-scheme: light) {
    @media not (prefers-reduced-motion) {
        .window {
            background-color: rgba(230, 233, 239, .9);
        }
    }

    @media (prefers-reduced-motion) {
        .window {
            background: var(--ctp-latte-base);
            box-shadow: 0px 2em 0px 0px var(--ctp-latte-mantle);
        }
    }

    body {
        background: var(--ctp-latte-crust);
        color: var(--ctp-latte-text);
    }

    .comment {
        color: var(--ctp-latte-surface2);
    }

    a {
        color: var(--ctp-latte-text);
        border-bottom: 1px dashed var(--ctp-latte-text);
    }

    a:hover {
        border-bottom: 1px solid var(--ctp-latte-text);
    }

    a:active {
        border-bottom: 1px solid var(--ctp-latte-text);
    }

    .bg {
        display: none;
    }
}