body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
    filter: invert(.9);
    background-color: black;
}

body > textarea {
    flex-grow: 1;
    resize: none;
    white-space: pre-wrap;
}

.buttons {
    display: flex;
    flex-direction: row;
    min-height: 2em;
}

.buttons > button#launch {
    flex-grow: 4;
}

.buttons > button#launch_dbg {
    flex-grow: 1;
}